/* Header CSS */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e2c;
    padding: 10px;
    position: relative;
}

.header__menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 80px;
}

.header__menu-link {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__menu-link:visited {
    color: white;
}


.header__hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    width: 35px;
    position: absolute; 
    right: 20px;
    top: 20px;
}

.header__hamburger-bar {
    height: 4px;
    width: 30px;
    background-color: white;
}


@media (max-width: 868px) {
    .header__menu {
        display: none; 
        flex-direction: column;
        gap: 20px;
    }

    .header__hamburger {
        display: flex; 
    }
}


@media (max-width: 480px) {
    .header__menu {
        gap: 15px;
    }
}

.header__menu.active {
    display: flex; 
}
